<footer class="page-footer" style="background-color: #bbdefb">

  <div class="container" style="background-color: #bbdefb; color: black">
    @2018 Jeffrey S Easley
      <a class="black-text text-lighten-4 right" href="#!"  style="color: black">jeasleydev@gmail.com</a>
  </div>

</footer>