<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="center-align">
                My name is Jeffrey Easley, and I am a web developer.
            </h5>
        
            <div class="row">
                <div class="col s4"></div>
                <div class="col s4">
                    <h5 class="center-align contact">
                        <button data-target="modal1" class="btn modal-trigger">Contact Me</button>
                    </h5>
                </div>
                <div class="col s4"></div>
            </div>
            
            <h6>
                <strong>
                I have a passion for bringing someone's vision to fruition. I listen, ask questions, offer suggestions, and solicit feedback through the development process.  The end result will be something you will be proud of, and i will be proud to have helped you bring it to life.
                </strong>
            </h6>
        
        </div>
    </div>

    <div class="divider"></div>
    
    <div class="section">
        <div class="row">
            <div class="col s6">
                <a href="http://www.dollmakerfilm.com">
                    <img class="responsive-img" src="/assets/images/DOLLMAKER.PNG"></div>
                </a>
            <div class="col s6">
                <a href="http://www.dollmakerfilm.com"><strong>Dollmakerfilm.com</strong></a> is a full stack website I created for a film maker.  The site was created using node.js, express.js, and express-handlebars for the back end, and uses the Materialize CSS framework for the front end.
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="section">
            <div class="col s6 vuetube">This "VueTube" app uses the YouTube API to search for videos.  I created it using Vue.js</div>
            <div class="col s6">
                <a href="https://vuetube-app.herokuapp.com/"><h3>VueTube</h3></a>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="section">
            <div class="col s6"><a href="https://miami84119.herokuapp.com/"><h3>841 19th St, Miami Beach</h3></a></div>
            <div class="col s6">This website was created with a partner.  My main contributions to this site are the slider and gallery modals, and the functionality of the contact form.  Using Nodemailer, the form connects to gmail's smtp server to send contact information to the email of your choice.</div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <h5 class="center-align contact">
                <button data-target="modal1" class="btn modal-trigger">Contact Me</button>
            </h5>
        </div>
        <div class="col s4"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="header2">Email Me!</h4>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="name-input" class="name">
                        <label for="name-input">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" id="email-input" class="email">
                        <label for="email-input">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" id="comment-input" class="comment">
                        <label for="comment-input">Comment</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-red btn-flat"><button type"submit">Submit</button></a>
    </div>
</div>




